In this Notebook we will explore the Caterpillar tube data

In [2]:
import os, glob, sys

import pandas as pd
import numpy as np
import matplotlib as mpl

Please download and put the data.zip file in the CDIPS15_TeamCat git folder.
Unzipping the file will create competition_data folder, where all the data resides.

In [5]:
data_files = glob.glob(os.path.join('..','competition_data','*.csv'))
for file_name in data_files:
    print os.path.split(file_name)[-1]

bill_of_materials.csv
comp_adaptor.csv
comp_boss.csv
comp_elbow.csv
comp_float.csv
comp_hfl.csv
comp_nut.csv
comp_other.csv
comp_sleeve.csv
comp_straight.csv
comp_tee.csv
comp_threaded.csv
components.csv
specs.csv
test_set.csv
train_set.csv
tube.csv
tube_end_form.csv
type_component.csv
type_connection.csv
type_end_form.csv

The files tube.csv and tube_end_form.csv look promising to get an understanding of the tubes used by Caterpillar. Lets investigate them first.

In [64]:
tube_df = pd.read_csv(os.path.join('..','competition_data','tube.csv'))
tube_end_df = pd.read_csv(os.path.join('..','competition_data','tube_end_form.csv'))
comp_df = pd.read_csv(os.path.join('..','competition_data','components.csv'))

Lets look at the attributes in the tube data file

In [100]:
tube_df[0:1]

,tube_assembly_id,material_id,diameter,wall,length,num_bends,bend_radius,end_a_1x,end_a_2x,end_x_1x,end_x_2x,end_a,end_x,num_boss,num_bracket,other
0,TA-00001,SP-0035,12.7,1.65,164,5,38.1,N,N,N,N,EF-003,EF-003,0,0,0

Similary the attributes of the tube end form are

In [69]:
len(comp_df['name'].unique())

298

In [75]:
specs_df = pd.read_csv(os.path.join('..','competition_data','specs.csv'))

In [80]:
specs_df.describe()

,tube_assembly_id,spec1,spec2,spec3,spec4,spec5,spec6,spec7,spec8,spec9,spec10
count,21198,7129,6844,5840,4154,2921,2071,535,106,20,1
unique,21198,45,51,49,38,37,24,13,4,3,1
top,TA-08945,SP-0007,SP-0012,SP-0080,SP-0026,SP-0080,SP-0082,SP-0082,SP-0082,SP-0088,SP-0080
freq,1,3002,1736,1798,1492,1780,1167,322,73,18,1

In [86]:
quant_df = pd.read_csv(os.path.join('..','competition_data','bill_of_materials.csv'))

In [125]:
quant_df[11:12]

,tube_assembly_id,component_id_1,quantity_1,component_id_2,quantity_2,component_id_3,quantity_3,component_id_4,quantity_4,component_id_5,quantity_5,component_id_6,quantity_6,component_id_7,quantity_7,component_id_8,quantity_8
11,TA-00012,C-1312,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
tube_df.loc['TA-00001']

material_id    SP-0035
diameter          12.7
wall              1.65
length             164
num_bends            5
bend_radius       38.1
end_a_1x             N
end_a_2x             N
end_x_1x             N
end_x_2x             N
end_a           EF-003
end_x           EF-003
num_boss             0
num_bracket          0
other                0
Name: TA-00001, dtype: object

In [96]:
quant_df['quantity_3'].unique()

array([ nan,   1.,   2.,   4.,   3.])

In [120]:
tube_end_df.loc['EF-003']

forming    No
Name: EF-003, dtype: object

In [124]:
comp_df.loc['C-1629']

name                 SLEEVE-ORFS
component_type_id         CP-024
Name: C-1629, dtype: object

In [126]:
comp_sleeve_df = pd.read_csv(os.path.join('..','competition_data','comp_sleeve.csv'))

In [130]:
comp_sleeve_df.loc['C-1629']

component_type_id      CP-024
connection_type_id      B-002
length                   9999
intended_nut_thread     0.812
intended_nut_pitch         16
unique_feature            Yes
plating                    No
orientation                No
weight                  0.012
Name: C-1629, dtype: object

In [132]:
test_set = pd.read_csv(os.path.join('..','competition_data','test_set.csv'))
train_set = pd.read_csv(os.path.join('..','competition_data','train_set.csv'))

In [133]:
test_set[0:1]

,id,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity
0,1,TA-00001,S-0066,2013-06-23,0,0,Yes,1

In [141]:
train_set['quote_date'].describe()

count          30213
unique          1781
top       2013-10-01
freq            2877
Name: quote_date, dtype: object